@model IEnumerable<Desaprendiendo.Models.DomainModel.Categoria>

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<section>
    <article>
        <div class="container-fluid mr-auto" style="margin-top: 10px;">
            <div class="row">
                <div class="card col-sm-2">
                    <img src="~/images/FotoAna.jpg" class="img-responsive img-thumbnail" />
                </div>
                <div class="card col-sm-10">
                    <p>
                        <strong>Ana I. García Pascual</strong>, tras 5 años de experiencia gestionando la subvención de 50 pymes.
                        Aporto el valor de bonificar la formación a trabajadores en las empresas interesadas. Tengo una amplia experiencia
                        en asesoramiento sobre formación, gestión de subvenciones, búsqueda de docentes para cursos, pero principalmente
                        mi responsabilidad ha sido realizar la supervisión completa en todos los ciclos de vida de desarrollo en proyectos de
                        docencia, desde las fases de captación, trazabilidad de calidad y cumplimentación en la administración pública.

                        Experta en SEO (Google Analytics), asidua a Google Activate y Marketing digital he llevado y supervisado algunas webs
                        de empresas principalmente de Retail. Asi como blogs literarios y empresas de servicios.

                        Con toda esta experiencia, las ganas y mi compañero Jacinto Aisa, estamos iniciando un proyecto ilusionante de formación
                        sobre otras bases, principalmente nuestra fuerza y nuestro fuerte es el reciclaje para personas de alto nivel formativo,
                        también estamos en proyectos con el fin de reciclar a la población de la España Rural a las nuevas tecnologías y promocionar el
                        trabajo en remoto. <strong>Alla vamos!!!</strong>
                    </p>
                </div>
                <div class="col-sm-1">

                </div>

            </div>
            <div class="row">
                <div class="card col-sm-2">
                    <img src="~/images/FotoJacinto.jpg" class="img-responsive img-thumbnail" />
                </div>
                <div class="card col-sm-9">
                    <p>
                        <strong>Jacinto Aisa Ibañez</strong>más de 25 años de experiencia combinando
                        el desarrollo de proyectos en diferentes tecnologías. Como clientes principales
                        en los que he participado y siguo participando a nivel de desarrollo.
                        <ul>
                            <li>Yamaha Incolmotos (Colombia)</li>
                            <li>Adidas (Caspe, España)</li>
                            <li>Bergner (Zaragoza, España)</li>
                            <li>Ibercaja (Zaragoza, España)</li>
                            <li>Atlas Copco (Zaragoza, España)</li>
                            <li>Quelinka (Zaragoza, España)</li>
                            <li>Cooperativa de Autotaxis (Zaragoza, España)</li>
                        </ul>
                        Por otro lado, en la siguiente lista están todas las certificacíones de las que dispongo,
                        tanto de Microsoft como de Oracle. He impartido cursos para todos los niveles desde minusválidos
                        psiquicos, hasta Arquitectos de Desarrollo, BigData, Programación orientada a Objetos son mis puntos fuertes.
                        Si desea ver un certicado más grande pulse ver imagen en su navegador.
                    </p>
                </div>
            </div>



            <div class="row" style="margin-top: 10px;">
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/01.png" class="img-thumbnail" />
                        <figcaption>Microsoft Certified Trainer</figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/10.png" class="img-thumbnail thickbox" />
                        <figcaption>
                            Microsoft Certified <br />
                            Azure Administrator Associate
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/11.png" class="img-thumbnail thickbox" />
                        <figcaption>
                            Microsoft Certified <br />
                            Azure Solutions Architec Expert
                        </figcaption>
                    </figure>
                </div>

            </div>

            <div class="row justify-content-sm-start">
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/02.png" class="img-thumbnail" />

                        <figcaption>
                            Microsoft Certified Technology Specialist<br />
                            Microsoft Dynamics Installation and Configuration
                        </figcaption>
                    </figure>
                </div>

                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/06.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Technology Specialist<br />
                            Microsoft Dynamics Navision CSIDE Development
                        </figcaption>
                    </figure>
                </div>

                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/05.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Technology Specialist<br />
                            Microsoft Dynamics Navisión CSIDE Introduction
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/07.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Technology Specialist <br />
                            Microsoft Dynamics Financials
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/08.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Professional

                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/15.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Solutions Associated<br />
                            SQL Server 2008
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/18.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Technology Specialist<br />
                            .NET Framework Windows Applications
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/19.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Technology Specialist<br />
                            .NET Framework ASP.NET Applications
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/16.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Solutions Associated<br />
                            SQL Server 2016
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/20.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Technology Specialist<br />
                            .NET Framework 2.0 ASP.NET Web Applications
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/17.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Solution Expert<br />
                            Business Inteligent
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/21.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Solutions Developer<br />
                            App Builder
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/04.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified IT Professional<br />
                            Installation and Configuration Dynamics Nav
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/03.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified IT Professional<br />
                            Developer for Dynamics Nav
                        </figcaption>
                    </figure>
                </div>


                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/09.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Solutions Developer<br />
                            Web Applications
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/12.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Solutions Developer<br />
                            AppBuilder
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/13.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified IT Professional<br />
                            Business Inteligent Developer
                        </figcaption>
                    </figure>
                </div>
                <div class="card col-sm-2">
                    <figure>
                        <img src="~/images/14.png" class="img-thumbnail" />
                        <figcaption>
                            Microsoft Certified Professional Developer<br />
                            WebDeveloper
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </article>

</section>